{% extends 'adm/adm_base.html' %}

{% block content %}
	<nav class="breadcrumb"> 设置管理 <span class="c-gray en">&gt;</span> 导航列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c"> 日期范围：
				<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
				-
				<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">
				<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">
				<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
                <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                <a href="javascript:;" onclick="member_add('添加导航','{% url 'adm:navigation_add' %}','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加导航</a>
{#                <a href="{% url 'adm:navigation_add' %}"  class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加导航</a>#}
            </span> <span class="r">共有数据：<strong>88</strong> 条</span> </div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="80">ID</th>
							<th width="100">名称</th>
							<th width="70">状态</th>
							<th width="100">操作（状态，修改，删除）</th>
						</tr>
					</thead>
					<tbody>
                    {%  if navigation_list %}
                        {% for navigation in navigation_list %}
                            <tr class="text-c">
                                <td><input type="checkbox" value="" name=""></td>
                                <td>{{ navigation.id }}</td>
                                <td><u style="cursor:pointer" class="text-primary" onclick="member_show('张三','member-show.html','10001','360','400')">{{ navigation.n_title }}</u></td>

                                <td class="td-status">
                                    {% if  navigation.n_status == 1 %}
                                         <span class="badge badge-success radius">已启用</span>
                                    {% else %}
                                         <span class="badge badge-danger radius">已禁用</span>
                                    {% endif %}
                                </td>
                                <td class="td-manage">
                                    {% if navigation.n_status == 1 %}
                                        <a style="text-decoration:green" onClick="member_stop(this,'10001')" href="javascript:;" title="禁用"><i class="Hui-iconfont badge badge-danger">&#xe631;</i></a>
                                    {% else %}
                                        <a style="text-decoration:red" onClick="member_start(this,'10001')" href="javascript:;" title="启用"><i class="Hui-iconfont badge badge-success">&#xe615;</i></a>
                                    {% endif %}
                                    <a title="编辑" href="javascript:;" onclick="member_edit('编辑','member-add.html','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                                    <a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                          <tr class="text-c">
                            <td colspan="20" style="color:red">暂无数据</td>
                          </tr>
                    {% endif %}
					</tbody>
				</table>
			</div>
		</article>
        {% include 'adm/footer.html' %}
	</div>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			table.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});
/*用户-添加*/
function member_add(title,url,w,h){

	layer_show(title,"/adm/navigation_add/",w,h);


    {#window.open('{% url "adm:navigation_add" %}')#}
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-停用*/
function member_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
		$(obj).remove();
		layer.msg('已停用!',{icon: 5,time:1000});
	});
}

/*用户-启用*/
function member_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
		$(obj).remove();
		layer.msg('已启用!',{icon: 6,time:1000});
	});
}
/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}
</script>
{% endblock %}