{#{% extends 'adm/adm_base.html' %}#}
{% include 'adm/meta.html' %}

{#{% block content %}#}
<article class="cl pd-5">
	<form method="post" class="form form-horizontal" id="form-member-add">
        {% csrf_token %}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>导航名称：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="" required="required" placeholder="" id="username" name="title">
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">排序：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="" placeholder="默认100" id="username" name="sort">
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">状态：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="status" type="radio" id="sex-1" checked value="1">
					<label for="sex-1">显示</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="sex-2" name="status" value="2">
					<label for="sex-2">隐藏</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius sub" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{% include 'adm/foot.html' %}
<script type="text/javascript">


     $(function()
    {
        $('.sub').click(function () {
            $.ajax({
                url: '{% url "adm:navigation_add" %}',
                type: 'POST',
                dataType: 'JSON',
                data: $('#form-member-add').serialize(),
                success: function (data) {
                    if (data.code == 200) {
                       layer.confirm('您是如何看待前端开发？', {
                          btn: ['重要','奇葩'] //按钮
                        }, function(){
                          layer.msg('的确很重要', {icon: 1});
                        }, function(){
                          layer.msg('也可以这样', {
                            time: 20000, //20s后自动关闭
                            btn: ['明白了', '知道了']
                          });
                        });
                    }else{
                       parent.location.reload()
                    }
                }
            })

        })

    })


$("#form-member-add——1").validate({
		rules:{
			title:{
				required:true,
				minlength:6,
				maxlength:16
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
</script>

{#{% endblock %}#}