{% include 'adm/meta.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'layui/dist/css/layui.css' %}">

{% block content %}
    <blockquote class="layui-elem-quote layui-text">
        <div class="layui-btn-group demoTable">
            <button class="layui-btn" data-type="getCheckData" >添加</button>
            <button class="layui-btn"> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
       <i class="layui-icon">&#xe9aa;</i>
    </a></button>
        </div>
    </blockquote>
    <table class="layui-table"
           lay-data="{ height:500, url:'{% url "adm:get_navigation_list" %}', page:true, id:'idTest'}"
           lay-filter="demo">
        <thead>
        <tr>
            <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
            <th lay-data="{field:'id', sort: true, fixed: true}">ID</th>
            <th lay-data="{field:'title'}">名称</th>
            <th lay-data="{field:'url'}">URL</th>
            <th lay-data="{field:'status', sort: true}">状态</th>
            <th lay-data="{field:'sort'}">排序</th>
            <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}">操作</th>
        </tr>
        </thead>
    </table>

    <script type="text/html" id="barDemo">
        {#        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>#}
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    </script>



{% endblock %}
{% include 'adm/base_js.html' %}

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('table', function () {
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('确定删除导航<span style="color:red"> &nbsp;' + data.title + '</span>&nbsp;吗？', {
                    btn: ['是', '否'] //按钮
                }, function () {
                    $.ajax({
                        url: '{% url "adm:navigation_del" %}',
                        type: "POST",
                        data: {"n_id": data.id},
                        success: function (e) {
                            console.log(e.code)
                            if (e.code == 200) {
                                 layer.msg("删除成功", {
                                    icon: 1,
                                    time: 1000,
                                    end: function () {
                                        window.location.reload()
                                        {#parent.location.reload();#}
                                    }
                                 })
                            } else {
                                layer.msg(e.msg);
                            }
                        },
                    })
                })
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    skin: 'layui-layer-demo', //样式类名
                    closeBtn: 1, //不显示关闭按钮
                    anim: 3,
                    title: "首页导航修改",
                    area: ['60%', '45%'], //宽高
                    shadeClose: true, //开启遮罩关闭
                    content: 'http://127.0.0.1:8000/adm/navigation_edit/?id=' + data.id //待更改，域名应替换为变量
                });
            }
        });

        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                layer.open({
                    type: 2,
                    skin: 'layui-layer-demo', //样式类名
                    closeBtn: 1, //不显示关闭按钮
                    anim: 3,
                    title: "首页导航添加",
                    area: ['60%', '45%'], //宽高
                    shadeClose: true, //开启遮罩关闭
                    content: 'http://127.0.0.1:8000/adm/navigation_add/'
                });
            },
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
<script>


    {#    #}
    {#    layui.use('table', function () {#}
    {#        var table = layui.table;#}
    {##}
    {#        table.render({#}
    {#            elem: '#test'#}
    {#            , url: '{% url "adm:get_navigation_list" %}'#}
    {#            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板#}
    {#,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档#}
    {#            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可#}
    {#                title: '提示'#}
    {#                , layEvent: 'LAYTABLE_TIPS'#}
    {#                , icon: 'layui-icon-tips'#}
    {#            }]#}
    {#            , title: '用户数据表'#}
    {#            , cols: [[#}
    {#                {type: 'checkbox', fixed: 'left'}#}
    {#                , {field: 'id', title: 'ID', fixed: 'left', unresize: true, sort: true}#}
    {#                , {field: 'title', title: '名称', edit: 'text'}#}
    {#                , {field: 'status', sort: true, templet: '#sexTpl'}#}
    {#                , {field: 'sort', title: '排序', edit: 'text', unresize: true, sort: true}#}
    {#                , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}#}
    {#            ]]#}
    {#            , page: true#}
    {#        });#}
    {#        //监听头工具栏事件#}
    {#        table.on('toolbar(test)', function (obj) {#}
    {#            var checkStatus = table.checkStatus(obj.config.id)#}
    {#                , data = checkStatus.data; //获取选中的数据#}
    {##}
    {#            switch (obj.event) {#}
    {#                case 'add':#}
    {#                    layer.open({#}
    {#                        type: 2,#}
    {#                        skin: 'layui-layer-demo', //样式类名#}
    {#                        closeBtn: 1, //不显示关闭按钮#}
    {#                        anim: 3,#}
    {#                        title: "首页导航添加",#}
    {#                        area: ['30%', '45%'], //宽高#}
    {#                        shadeClose: true, //开启遮罩关闭#}
    {#                        content: 'http://127.0.0.1:8000/adm/navigation_add/'#}
    {#                    });#}
    {#                    break;#}
    {#                case 'update':#}
    {#                    if (data.length === 0) {#}
    {#                        layer.msg('请选择一行');#}
    {#                    } else if (data.length > 1) {#}
    {#                        layer.msg('只能同时编辑一个');#}
    {#                    } else {#}
    {#                        layer.alert('编辑 [id]：' + checkStatus.data[0].id);#}
    {#                    }#}
    {#                    break;#}
    {#                case 'delete':#}
    {#                    if (data.length === 0) {#}
    {#                        layer.msg('请选择一行');#}
    {#                    } else {#}
    {#                        layer.msg('删除');#}
    {#                    }#}
    {#                    break;#}
    {#            }#}
    {#            ;#}
    {##}
    {##}
    {#        });#}
    {#        //监听行工具事件#}
    {#        table.on('toolbar(test)', function (obj) {#}
    {#            var checkStatus = table.checkStatus(obj.config.id);#}
    {#            switch (obj.event) {#}
    {#                case 'nav_add':#}
    {#                    layer.open({#}
    {#                        type: 2,#}
    {#                        skin: 'layui-layer-demo', //样式类名#}
    {#                        closeBtn: 1, //不显示关闭按钮#}
    {#                        anim: 3,#}
    {#                        title: "首页导航添加",#}
    {#                        area: ['30%', '45%'], //宽高#}
    {#                        shadeClose: true, //开启遮罩关闭#}
    {#                        content: 'http://127.0.0.1:8000/adm/navigation_add/'#}
    {#                    });#}
    {#                    break;#}
    {#                case 'getCheckLength':#}
    {#                    var data = checkStatus.data;#}
    {#                    layer.msg('选中了：' + data.length + ' 个');#}
    {#                    break;#}
    {#                case 'isAll':#}
    {#                    layer.msg(checkStatus.isAll ? '全选' : '未全选');#}
    {#                    break;#}
    {##}
    {#                //自定义头工具栏右侧图标 - 提示#}
    {#                case 'LAYTABLE_TIPS':#}
    {#                    layer.alert('这是工具栏右侧自定义的一个图标按钮');#}
    {#                    break;#}
    {#            }#}
    {#            ;#}
    {#        });#}
    {##}
    {#        //监听行工具事件#}
    {#        table.on('tool(test)', function (obj) {#}
    {#            var data = obj.data;#}
    {#            //console.log(obj)#}
    {#            if (obj.event === 'del') {#}
    {#                layer.confirm('真的删除行么', function (index) {#}
    {#                    obj.del();#}
    {#                    layer.close(index);#}
    {#                });#}
    {#            } else if (obj.event === 'edit') {#}
    {#                layer.prompt({#}
    {#                    formType: 2#}
    {#                    , value: data.email#}
    {#                }, function (value, index) {#}
    {#                    obj.update({#}
    {#                        email: value#}
    {#                    });#}
    {#                    layer.close(index);#}
    {#                });#}
    {#            }#}
    {##}
    {#        });#}
    {#    });#}
    {#    #}
</script>
