{% include 'adm/meta.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'layui/dist/css/layui.css' %}">
<style>
    .layui-table-body{
    overflow-x:hidden;
    }

    .layui-table-body:hover{
    overflow-x:auto;
}
</style>
{% block content %}
    <table class="layui-hide" id="test"></table>
{% endblock %}
{% include 'adm/base_js.html' %}
<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            , url: '{% url "adm:get_navigation_list" %}'
            , page: true
            , limit: 5
            , limits: [5, 15, 20]
            , cols: [[
                {field: 'id', title: 'ID', sort: true},
                {field: 'title', title: '名称'},
                {field: 'status', title: '状态'},
            ]]
            , page: true
        });
    });


</script>
