{% include 'adm/meta.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'layui/dist/css/layui.css' %}">
<form style="margin-top: 2em" class="layui-form layui-form-pane" id="fm">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ id }}">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-inline">
            <input type="text" name="title" lay-verify="required" value="{{ title }}" placeholder="请输入"
                   autocomplete="off" class="layui-input">
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">URL</label>
            <div class="layui-input-inline">
                <input type="text" name="url" lay-verify="required" value="{{ url }}" placeholder="请输入"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="text" name="sort" lay-verify="required" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ sort }}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="显示" title="显示" {% if  status == "显示" %}
                       checked="selected" {% endif %}>
                <div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
                    <div>显示</div>
                </div>
                <input type="radio" name="status" value="隐藏" title="隐藏" {% if  status == "隐藏" %}
                       checked="selected" {% endif %}>
                <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                    <div>隐藏</div>
                </div>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: right;margin-bottom: 2em">
            <button class="layui-btn" lay-submit="" id="btn" lay-filter="demo2">提交</button>
        </div>
</form>


{% include 'adm/base_js.html' %}

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    $(function () {
        $('#btn').click(function () {
            $.ajax({
                url: '{% url "adm:navigation_edit" %}',
                type: 'POST',
                dataType: 'JSON',
                data: $('#fm').serialize(),
                success: function (e) {
                    layer.msg(e.code, {time: 1000});
                    if (e.code == 200) {
                        parent.location.reload();
                    } else {
                        layer.msg(e.msg);
                    }
                }
            })
        })
    })

    layui.use('table', function () {
        var table = layui.table;
        //监听表格复选框选择
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>

