{% load static %}
<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<meta name="keywords" content="{{ keywords }}">
<meta name="description" content="">
{#    引入header 文件#}

{# 样式 占位#}
{% block ext_js_css %}

<link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/nprogress.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/font-awesome.min.css' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'home/images/icon.png' %}">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
<script src="{% static 'home/js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'home/js/nprogress.js' %}"></script>
<script src="{% static 'home/js/jquery.lazyload.min.js' %}"></script>


<!--[if gte IE 9]>
  <script src="{% static 'home/js/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'home/js/html5shiv.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'home/js/respond.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'home/js/selectivizr-min.js' %}" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->

{% endblock %}

</head>
<body class="user-select">
{% block header %}
{% include 'home/header.html' %}
{% endblock %}

<section class="container">
{% block container %}
{% include 'home/container.html' %}
{% endblock %}

{% block sidebar %}
{% include 'home/sidebar.html' %}
{% endblock %}
</section>
{% include 'home/footer.html' %}
{% block ext_js %}
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/js/jquery.ias.js' %}"></script>
<script src="{% static 'home/js/scripts.js' %}"></script>
{% endblock %}


</body>
</html>
