{% extends 'home/base.html' %}
{% block header %}
    <header class="header">
        <nav class="navbar navbar-default" id="navbar">
            <div class="container">
                <div class="header-topbar hidden-xs link-border" >
{#                    <ul class="site-nav topmenu" style="text-align: left">#}
{#                        <li><a href="#">标签云</a></li>#}
{#                        <li><a href="#" rel="nofollow">读者墙</a></li>#}
{#                        <li><a href="#" title="RSS订阅">#}
{#                            <i class="fa fa-rss">#}
{#                            </i> RSS订阅#}
{#                        </a></li>#}
{#                    </ul>#}
                    <h3></h3>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#header-navbar" aria-expanded="false"><span class="sr-only"></span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <h1 class="logo hvr-bounce-in"><a href="#" title="币小宝">币小宝</a></h1>
                </div>
                <div class="collapse navbar-collapse" id="header-navbar">
                    <form class="navbar-form visible-xs" action="/Search" method="post">
                        <div class="input-group">
                            <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20"
                                   autocomplete="off">
                            <span class="input-group-btn">
		<button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
		</span></div>
                    </form>
                    <ul class="nav navbar-nav navbar-left" style="margin-left: 10em">
                        {% for nav in nav_list %}
                            <li><a data-cont="{{ nav.n_title }}" title="{{ nav.n_title }}"
                                   href="{{ nav.url }}">{{ nav.n_title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}