{% include 'adm/meta.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'layui/dist/css/layui.css' %}">
<form style="margin-top: 2em" class="layui-form layui-form-pane" method="post" id="fm">
    {% csrf_token %}

    <div class="layui-form-item">
        <label class="layui-form-label">所属分类</label>
        <div class="layui-input-inline">

            <select name="pid" lay-verify="required" lay-search="">
                <option value="0">顶级分类</option>
                {% for v in catelist %}
                    <option value="{{ v.id }}" >{{ v.sub }}{{ v.name }}</option>
                {% endfor %}
            </select>

        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">分类名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" required="required" placeholder="请输入" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="显示" title="显示" checked="">
            <div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
                <div>显示</div>
            </div>
            <input type="radio" name="status" value="隐藏" title="隐藏">
            <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                <div>隐藏</div>
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="text-align: right;margin-bottom: 2em">
        <button type="button" class="layui-btn" id="btn">提交</button>
    </div>
</form>


{% include 'adm/base_js.html' %}

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    $(function () {
        $('#btn').click(function () {
            $.ajax({
                url: '{% url "adm:cate_add" %}',
                type: 'POST',
                dataType: 'JSON',
                data: $('#fm').serialize(),
                success: function (e) {
                    console.log(e)
                    if (e.code == 200) {

                        layer.msg(e.msg, {
                            icon: 1,
                            time: 1000,
                            end: function () {
                                layer.confirm('是否继续添加', {
                                    btn: ['是', '否'] //按钮
                                }, function () {
                                    window.location.reload()
                                }, function () {
                                    parent.location.reload()
                                });
                            }
                        })

                    } else {
                        layer.msg(e.msg, {icon: 2});
                    }
                }
            })
        })
    })

    layui.use('table', function () {
        var table = layui.table;
        //监听表格复选框选择
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
