{% include 'adm/meta.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'layui/dist/css/layui.css' %}">

{% block content %}
    <blockquote class="layui-elem-quote layui-text">
        <div class="layui-btn-group demoTable">
            <button class="layui-btn" data-type="cate_add">添加</button>
            <button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe9aa;</i></button>
        </div>
    </blockquote>
    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="150">
            <col width="300">
            <col width="150">
            <col width="150">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>所属父级</th>
            <th>Path 路径</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for v in catelist %}
            <tr>
                <td>{{ v.id }}</td>
                <td class="cate_name">{{ v.sub }}<span cid="{{ v.id }}">
                    {% if v.path == "0," %}
                        <b>{{ v.name }}</b>
                    {% else %}
                        {{ v.name }}
                    {% endif %}
                </span></td>
                <td>{{ v.pname }}</td>
                <td>{{ v.path }}</td>
                <td>
                    <button type="button" cid="{{ v.id }}" cname="{{ v.name }}"
                            class=" removeCate layui-btn layui-btn-warm">删除
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
{% include 'adm/base_js.html' %}

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('table', function () {
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });
        //监听工具条

 {% comment %}       table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('确定删除导航<span style="color:red"> &nbsp;' + data.title + '</span>&nbsp;吗？', {
                    btn: ['是', '否'] //按钮
                }, function () {
                    $.ajax({
                        url: '{% url "adm:navigation_del" %}',
                        type: "POST",
                        data: {"n_id": data.id},
                        success: function (e) {
                            console.log(e.code)
                            if (e.code == 200) {
                                layer.msg("删除成功", {
                                    icon: 1,
                                    time: 1000,
                                    end: function () {
                                        window.location.reload()
                                        {#parent.location.reload();#}
                                    }
                                })
                            } else {
                                layer.msg(e.msg);
                            }
                        },
                    })
                })
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    skin: 'layui-layer-demo', //样式类名
                    closeBtn: 1, //不显示关闭按钮
                    anim: 3,
                    title: "首页导航修改",
                    area: ['60%', '45%'], //宽高
                    shadeClose: true, //开启遮罩关闭
                    content: 'http://127.0.0.1:8000/adm/navigation_edit/?id=' + data.id //待更改，域名应替换为变量
                });
            }
        });
{% endcomment %}
        var $ = layui.$, active = {
            cate_add: function () { //获取选中数据
                layer.open({
                    type: 2,
                    skin: 'layui-layer-demo', //样式类名
                    closeBtn: 1, //不显示关闭按钮
                    anim: 4,
                    offset: '3em',
                    title: "无限添加",
                    area: ['50%', '45%'], //宽高
                    {#shadeClose: true, //开启遮罩关闭#}
                    content: 'http://127.0.0.1:8000/adm/cate_add/'
                });
            },

            reload: function () {
                layer.msg('正在刷新');
                window.location.reload()
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    $('.cate_name').dblclick(function () {

        // 1 绑定双击事件,获取name换成input  获取当前元素
        var span = $(this).find('span')
        // 获取当前分类名字
        var catename = span.text()
        // 创建一个 input标签
        {#var inp = $('<input type="text" style="color:black;" value="'+catename+'">')#}
        var inp = $('<input type="text" name="title" required="required" placeholder="请输入新名称" autocomplete="off"class="layui-input" value="">')
        // 把分类名换成input
        $(this).find('span').html(inp)
        // select() 让input中的值 处于选中状态
        inp.select()
        // 获取当前选择的元素的 分类 id
        var cid = span.attr('cid')

        // 2,给input绑定丧失焦点事件,判断是否更新了name,发送ajax去修改
        inp.blur(function () {
            // 获取当前新的name
            var newname = $(this).val()
            if ($.trim(newname) == '') {
                layer.msg("名称不能为空请重新输入 或 刷新页面放弃更改");
                return false
            }

            // 判断当前的值和原来的值是否一样
            if (newname == catename) {
                // 不需要修改,恢复原样
                span.html(catename)
            } else {
                layer.confirm('确定将 <span style="color:red">' + catename + '</span> 修改为<span style="color:blue">  ' + newname + '</span> 吗?', {
                    btn: ['是', '否'] //按钮
                }, function () {
                    $.ajax({
                        url: '{% url "adm:cate_edit" %}',
                        type: "POST",
                        data: {"id": cid, name: newname},
                        success: function (e) {
                            console.log(e.code)
                            if (e.code == 200) {
                                layer.msg("修改成功", {
                                    icon: 1,
                                    time: 1000,
                                    end: function () {
                                        window.location.reload()
                                        {#parent.location.reload();#}
                                    }
                                })
                            } else {
                                layer.msg(e.msg);
                            }
                        },
                    })
                }, function () {
                    window.location.reload()
                });
            }
        })
    })

    //删除
    $('.removeCate').click(function () {
        var cid = $(this).attr('cid')
        var cname = $(this).attr('cname')
        var Own = $(this)
        layer.confirm('确定删除 <span style="color:red">' + cname + '</span> 吗？', {
            btn: ['是', '否'] //按钮
        }, function () {
            $.post('{% url "adm:cate_del" %}', {'cid': cid}, function (data) {
                if (data.code == 200) {
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000,
                        end: function () {
                            Own.parents('tr').remove()
                        }
                    })
                } else {
                    layer.msg(e.msg);
                }
            })
        });

    })

</script>

