{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        {% include 'adm/meta.html' %}
    {% endblock %}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {% block header %}
        {% include 'adm/header.html' %}
    {% endblock %}
    {% block menu %}
        {% include 'adm/menu.html' %}
    {% endblock %}

    <!--tab标签-->
    <div class="layui-tab" lay-filter="demo" lay-allowclose="true" style="margin-left: 200px;">
        <ul class="layui-tab-title"></ul>
        <div class="layui-tab-content">
             {% block content %}
             {% endblock %}
        </div>

    </div>
{% include 'adm/footer.html' %}
</div>
{% include 'adm/base_js.html' %}
<script>
layui.use('element', function(){
  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

  //监听导航点击
  element.on('nav(demo)', function(elem){
    //console.log(elem)
    layer.msg(elem.text());
  });
});
</script>
</body>
</html>