{% load static %}
    <script src="{% static 'adm/lib/jquery/1.9.1/jquery.js' %}"></script>
    <script src="{% static 'layui/src/layui.js' %}"></script>
    <script type="text/javascript" src="{% static 'adm/adm/js/base.js' %}"></script>
