 <div class="layui-header">
        <div class="layui-logo" aria-colspan="5">Python Django</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                欢迎光临，刘英伟
            </li>
            <li class="layui-nav-item"><a href="">安全退出</a></li>
        </ul>
    </div>