<div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧垂直导航区域-->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">基本设置</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-id="1" data-title="首页导航" data-url="{% url 'adm:navigation' %}" class="site-demo-active" data-type="tabAdd">首页导航</a></dd>
                    </dl>
                     <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-id="2" data-title="无限分类" data-url="{% url 'adm:cate' %}" class="site-demo-active" >无限分类</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">权限管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-id="3" data-title="菜单管理" data-url="{% url 'adm:menu' %}" class="site-demo-active" >菜单管理</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>