{% load static %}
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ title }} Python Django 后台管理</title>
<link rel="stylesheet" href="{% static 'layui/src/css/layui.css' %}">