<button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe9aa;</i></button>
<script>
    layui.use('table', function () {
        var table = layui.table;
        var $ = layui.$, active = {
            reload: function () {
                window.location.reload()
            }
        };
    });
</script>