<footer class="footer">
    <p>
        感谢 H-ui.admin jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br>
        Copyright &copy;2015 H-ui.admin v3.0 All Rights Reserved.<br>
        本后台系统由<a href="{% url 'index' %}" target="_blank" title="LYW" style="color:blue">lyw 技术博客博主</a>提供技术支持</p>
</footer>