{% load static %}
<script type="text/javascript" src="{% static 'adm/lib/jquery/1.9.1/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'adm/lib/layer/2.4/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'adm/static/h-ui/js/H-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'adm/static/h-ui.admin/js/H-ui.admin.page.js' %}"></script>