{% include 'adm/meta.html' %}

<div class="layui-fluid" style="width:30%;height:10%">
    <div class="layadmin-user-login-main">
    <div class="layadmin-user-login-box layadmin-user-login-header" style="margin-top: 30px">
      <h2 style="text-align: center;margin-bottom: 50px; margin-top: 40px;">注册功能</h2>
    </div>
        <p style="margin-bottom: 10px">
            {{ msg }}
           {% for key,err in user_register_forms.errors.items %}
               {{ err }}
            {% endfor %}

<tr><th><label for="id_email">Email:</label></th><td><ul class="errorlist"><li>输入一个有效的 Email 地址。</li></ul><input type="email" name="email" valu required id="id_email"></td></tr>
<tr><th><label for="id_password">Password:</label></th><td><input type="text" name="password" value="asfasd" maxlength="15" minlength="3" required id="id_password"></td></tr>

        </p>
        <form action="{% url 'adm:user_register_post' %}" method="post">
            {% csrf_token %}
                <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
      <div class="layui-form-item">
        <input type="text" name="email" id="LAY-user-login-cellphone" lay-verify="email" placeholder="邮箱" class="layui-input layui-form-danger">
      </div>

      <div class="layui-form-item">
        <input type="password" name="password" id="LAY-user-login-password" lay-verify="pass" placeholder="密码" class="layui-input">
      </div>
      <div class="layui-form-item">
          <input type="submit" value="注册">
      </div>
    </div>
        </form>
  </div>
</div>